# Homework - SQL2

1. Use Google Colabortory and do your homework.
3. (In Google colaboratory) Before you submit your homework, restart kernel and run every cell!
4. Save (File->Save) the file
5. Submit your homework (this file) in Google classroom
6. **Don't forget to click "제출" button** ("Submit", "완료로 표시", 또는 "제출" 버턴을 누르지 않으면 제출된 것이 아님)
7. No late homeworks will be accepted for any reason!

To edit this cell, double click here
```
이름:_______________________
학번:_______________________
학과:_______________________
제출일:______________________
```

- 권고사항: 모든 SQL select 문에 tuple variable를 사용할 것.

- SQL 작성시, 문제에 주어지지 않은 상수를 사용하는 경우 (cheating), **마이너스 점수**를 받는다.

- **점수: 각 10점, 19번 20점, 총200점**

In [ ]:
%load_ext sql

In [ ]:
!pip install mysqlclient

### Use your host, id, password, and database

In [ ]:
import getpass
user = 's202300001'
password = getpass.getpass()
host='dm.hufs.ac.kr'
database = 's202300001db'
connection_string = f'mysql://{user}:{password}@{host}:3306/{database}'

%sql $connection_string

## Warning: Your companydb state MUST be clean as initial state

- Refer to jupyter notebook on "SQL Lab"

### When you list the name of employees, the name must be the following format:

- Output Schema and tuple format:

```
+------------------+
| Employee name    |
+------------------+
| John B. Smith    |
...
+------------------+
```

- Use MySQL concat 함수 사용, Refer to MySQL manual or  Googling

### 1-14번에 대해 SQL select 문을 작성하고 MySQL에서 실행한 결과물을 제출하시오.

#### 1. Retrieve the names of employees in department 5 who work more than 10 hours per week on the 'ProductX' project. (single SELECT 사용, MySQL concat 함수 사용)

In [ ]:
%%sql
/* YOUR CODE HERE */


#### 2.  List the names of employees who have a dependent with the same sex as themselves. (EXISTS 사용)

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 3.  Find the names of employees that are directly supervised by 'Franklin Wong'. (EXISTS 사용)

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 4.  For each project, list the project name and the total hours per week (by all employees) spent on that project.
Output Schema:
```
+-----------------+-------------+
| Project name    | Total hours |
+-----------------+-------------+
```

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 5.  Retrieve the names of employees who work on every project managed by 'Administration' department.

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 6.  Retrieve the names of employees who do not work on any project which is located in 'Houston'. (NOT EXISTS 사용)

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 7.  For each department, retrieve the department name, and the average salary of employees working in that department.(소수점 이하 2자리까지만(버림) 출력, Refer to MySQL manual or  Googling)

Output schema
```
+-----------------+----------------+
| Department name | Average salary |
+-----------------+----------------+
```

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 8.  Retrieve the average salary of all female employees. (소수점 이하 2자리까지만(버림) 출력, Refer to MySQL manual or  Googling)
Output Schema:
```
+----------------+
| Average salary |
+----------------+
```

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 9.  Find the names and addresses of employees who work on at least one project located in Houston but whose department has no location in Houston. (EXISTS, NOT EXISTS 사용)

Output schema:

```
+---------------------+-------------------------+
| Employee name       | Address                 |
+---------------------+-------------------------+
```

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 10.  List the names of department managers who have no dependents. (EXISTS, NOT EXISTS 사용)

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 11. Retrieve the names of all employees who work in the department that has the employee with the highest salary among all employees.

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 12. Retrieve the names of all employees whose supervisor’s supervisor is James Borg. (EXISTS 안에 EXISTS 사용)

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 13. Retrieve the names of all employees whose supervisor’s supervisor is James Borg. (single SELECT 사용)

In [ ]:
%%sql
/* YOUR CODE HERE */

#### 14. Retrieve the names of employees who make at least 10,000 dollars more than the employee who is paid the least in the company.

In [ ]:
%%sql
/* YOUR CODE HERE */

### 15-18번에 대해 SQL view문을 작성하고 MySQL에서 “select * from <view_name>”을 실행한 결과물을 제출하시오.

#### 15. A view that has the department name, manager name, and manager salary for every department

In [ ]:
%%sql
/* YOUR CODE HERE */

In [ ]:
%sql select * from DEPT_VIEW;

#### 16. A view that has the employee name, supervisor name, and employee salary for each employee who works in the ‘Research’ department

In [ ]:
%%sql
/* YOUR CODE HERE */

In [ ]:
%sql select * from RESEARCH_DEPT_VIEW;

#### 17. A view that has the project name, controlling department name, number of employees, and total hours worked per week on the project for each project

In [ ]:
%%sql
/* YOUR CODE HERE */

In [ ]:
%sql select * from PROJECT_VIEW;

#### 18. A view that has the project name, controlling department name, number of employees, and total hours worked per week on the project for each project with more than two employees working on it

In [ ]:
%%sql
/* YOUR CODE HERE */

In [ ]:
%sql select * from PROJECT_VIEW_GT2;

#### 19. EMPLOYEE 테이블의 salary의 변경사항이 있을 때 마다, 변경사항을 기록하는 테이블 salary_audit(ssn, before_salary, after_salary, u_datetime)을 만들고, update trigger를 사용하여 변경사항을 기록하시오. 5번 부서에 속하는 직원의 salary를 100% 상향 조정 후, “select * from salary_audit”를 통해 결과를 확인하시오. udatetime에는 수정이 실행된 DATETIME(SQL Datatype, 날짜와 시각)을 기록한다. 현재 시각값은 now() 함수를 통해 얻을 수 있다.

## Warning
- 19번 문제 Update 한 후에 1-18번 문제를 다시 풀면 다른 결과가 나올 수 있음
- 1-18번 문제는 반드시 companydb의 초기 상태에서 풀어야 함

In [ ]:
%%sql
/* YOUR CODE HERE  for "create table ..." */

In [ ]:
%%sql
/* YOUR CODE HERE for "create trigger ..." */

In [ ]:
%sql select * from salary_audit;

In [ ]:
%sql update EMPLOYEE set salary = 2 * salary where dno = 5;

In [ ]:
%sql select * from salary_audit;